* {

color: white;
margin: 0;
padding: 0;

}

#navigation {

    background-color: rgb(3, 3, 3);
    width: 100%;
    height: 50px;
    align-content: center;
}
     
#navigation ul {

    display: flex;
    justify-content: center;
    list-style: none;
}

#navigation ul li {

    margin: 0 150px;
    align-content: center;
}

#navigation ul li a:hover {
    background-color: #f3c90e; /* Hover par background color change karna */
    border-radius: 0px; /* Corners ko round karna */
    
}

a {
    
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Press Gothic Regular;  
    
}


body{
    background-image: url(lou.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

   
}

#paragraph {
    height: 350px;
    width: 600px;
    margin-top: 200px;
    margin-left: 20px;
    text-align: center;
   background-image: url(joel.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    
     
   }
#p2 {
    height: 370px;
    width: 600px;
    margin-left: 900px;
    text-align: center;
    background-image: url(ellie.jpg);
    background-position: center;
    background-size: cover;

}
@font-face {
    font-family: 'pressgothic';
    src: url(fonts\Press Gothic Regular.otf) format(regular);
    
}


  

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-family:'Times New Roman';
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }